{% extends 'base.html' %}

{% block 'titulo' %} Home {% endblock %}

{% block 'conteudo' %}



<style>
    body {
        font-family: "Poppins", sans-serif;
        background-color: #fafafa;
    }

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="container">
    <br>
    <div class="row">
        {% for livro in livros %}
            <div class="col-md">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{livro.nome}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{livro.autor}}</h6>
                        <br>
                        {% if livro.emprestado %}

                            <h6 style="display: inline;" class="card-subtitle mb-2 text-muted">Indisponível</h6>
                            <svg style="color: red;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-x-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5M6.854 5.146a.5.5 0 1 0-.708.708L7.293 7 6.146 8.146a.5.5 0 1 0 .708.708L8 7.707l1.146 1.147a.5.5 0 1 0 .708-.708L8.707 7l1.147-1.146a.5.5 0 0 0-.708-.708L8 6.293z"/>
                            </svg>
                        {% else %}

                            <h6 style="display: inline;" class="card-subtitle mb-2 text-muted">Disponível</h6>
                            <svg style="color: green;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-check-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5m8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3"/>
                            </svg>
                        {% endif %}
                        <br>
                        <br>
                        <a href="{% url 'ver_livros' livro.id %}" class="btn btn-info">Acessar</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}